<aside id="main-nav-component">

  <nav>
    <ul>
      <li>
        <LinkTo @route="index">Dashboard</LinkTo>
      </li>

      <li>
        <LinkTo @route="requests">Requests</LinkTo>
      </li>
    </ul>


  </nav>

</aside>

{{yield}}

